{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}

{{ form_start(form) }}

    {% if app.request.get('_route') == 'backoffice_posts_new' %}
        <h2>Add a new post</h2>
    {% elseif app.request.get('_route') == 'backoffice_posts_edit' %}
        <h2>Update the post</h2>
    {% endif %}

    <p class="alert-msg">{{ form_errors(form) }}</p>

    <fieldset class="grid-col-6">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        <p class="alert-msg">{{ form_errors(form.title) }}</p>
    </fieldset>

    <fieldset class="grid-col-6">
        {{ form_label(form.body) }}
        {{ form_widget(form.body) }}
        <p class="alert-msg">{{ form_errors(form.body) }}</p>
    </fieldset>

    <fieldset class="grid-col-6">
        {{ form_label(form.featuredImage) }}
        {{ form_widget(form.featuredImage) }}
        <p class="alert-msg">{{ form_errors(form.featuredImage) }}</p>
    </fieldset>

    <fieldset class="grid-col-3">
        {{ form_label(form.contentTypeId) }}
        {{ form_widget(form.contentTypeId) }}
        <p class="alert-msg">{{ form_errors(form.contentTypeId) }}</p>
    </fieldset>

    {# <fieldset class="grid-col-3">
        {{ form_label(form.categori) }}
        {{ form_widget(form.categori) }}
        <p class="alert-msg">{{ form_errors(form.categori) }}</p>
    </fieldset> #}

    <fieldset class="grid-col-6">
        {{ form_label(form.published) }}
        {{ form_widget(form.published) }}
        <p class="alert-msg">{{ form_errors(form.published) }}</p>
    </fieldset>

    <div class="grid-full-width">
        <a id="cancelModal" href="{{ path('backoffice_index') }}" class="btn">Cancel</a>
        <button class="btn btn-success" type="submit">{{ button_label|default('Save') }}</button>
    </div>

{{ form_end(form) }}