{% extends 'base.html.twig' %} 

{% block title %} Edit User {% endblock %} 

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/styles/css/profile.css') }}" />
{% endblock %} 

{% block nav %} {% endblock %} 

{% block body %}

{% if is_granted('ROLE_USER') and user == app.user %}
<form action="" method="post" id="editProfileform" enctype="multipart/form-data">
    
        
        <div class="head-info">
            <label for="users_profileCover">
                <img src="{{ asset('assets/imgs/banner/' ~ (user.imageCover ? user.imageCover : 'pawel-czerwinski-7FqOISWr5V0-unsplash.jpg')) }}" alt="">
            </label>

            <div class="profile-img">
                <label for="users_profilePicture">
                    <img class="btn-modal" src="{{ asset('assets/imgs/profile/' ~ (user.imageProfile ? user.imageProfile : 'placeholder-general-img.png')) }}" alt="Image placeholder">
                    <i class="fa-solid fa-pen-to-square btn-modal"></i>
                </label>
            </div>

            <div class="user-info">
                <h3>
                    {{ user.firstname }} {{ user.lastname }}
                </h3>
                <span>{{ user.city }},</span>
                <span>{{ user.country }}</span>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="body-info">
            <fieldset class="grid-col-3">
                <label>Profile Picture:</label>
                {{ form_errors(form.imageProfile) }}
                {{ form_widget(form.imageProfile, { 'attr': { 'id': 'profile-picture' } }) }}
            </fieldset>

            <fieldset class="grid-col-3">
                <label>Profile Cover:</label>
                {{ form_errors(form.imageCover) }}
                {{ form_widget(form.imageCover, { 'attr': { 'id': 'profile-cover' } }) }}
                
            </fieldset>

            <fieldset class="grid-col-3">
                <label>Name:</label>
                {{ form_errors(form.firstname) }}
                {{ form_widget(form.firstname) }}
            </fieldset>

            <fieldset class="grid-col-3">
                <label>Family Name:</label>
                {{ form_errors(form.lastname) }}
                {{ form_widget(form.lastname) }}
            </fieldset>

            <fieldset class="grid-col-3">
                <label>User Name:</label>
                {{ form_errors(form.username) }}
                {{ form_widget(form.username) }}
            </fieldset>

            <fieldset>
                <label>Email address:</label>
                {{ form_errors(form.email) }}
                {{ form_widget(form.email) }}
            </fieldset>

            <fieldset>
                <label>Gender:</label>
                {{ form_errors(form.gender) }}
                <ul>
                    {% for child in form.gender %}
                        <li>
                            {{ form_widget(child) }}
                            {{ child.vars.label }}
                        </li>
                    {% endfor %}
                </ul>
            </fieldset>

            <fieldset class="grid-col-3">
                <label>City:</label>
                {{ form_errors(form.city) }}
                {{ form_widget(form.city) }}
            </fieldset>

            <fieldset class="grid-col-3">
                <label>Country:</label>
                {{ form_errors(form.country) }}
                {{ form_widget(form.country) }}
            </fieldset>

            <div class="grid-full-width">
                <button type="submit">Save changes</button>
            </div>
        </div>
        {{form_end(form)}}
    </form>
{% else  %}
    <h1>You don't have permission to access this page</h1>
{% endif %}

{% endblock %}

{% block footer %} {% endblock %}