{% extends 'base.html.twig' %} 

{% block title %} Edit User {% endblock %} 

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/styles/css/profile.css') }}" />
{% endblock %} 

{% block nav %} {% endblock %} 

{% block body %}

{% if is_granted('ROLE_USER') and user == app.user %}
<form action="" method="post" id="editProfileform" enctype="multipart/form-data">
    
        
        <div class="head-info">
            <label for="users_profileCover">
                <img src="{{ asset('assets/imgs/banner/' ~ (user.imageCover ? user.imageCover : 'pawel-czerwinski-7FqOISWr5V0-unsplash.jpg')) }}" alt="">
            </label>

            <div class="profile-img">
                <label for="users_profilePicture">
                    <img class="btn-modal" src="{{ asset('assets/imgs/profile/' ~ (user.imageProfile ? user.imageProfile : 'placeholder-general-img.png')) }}" alt="Image placeholder">
                    <i class="fa-solid fa-pen-to-square btn-modal"></i>
                </label>
            </div>

            <div class="user-info">
                <h3>
                    {{ user.firstname }} {{ user.lastname }}
                </h3>
                <span>{{ user.city }},</span>
                <span>{{ user.country }}</span>
            </div>
        </div>
        
        {{ form_start(form) }}
            <div class="body-info">
                <fieldset class="grid-col-3">
                    <label>Password:</label>
                    {{ form_errors(form.password) }}
                    {{ form_widget(form.password) }}
                </fieldset>

                <fieldset>
                    <label>Roles:</label>
                    {{ form_errors(form.roles) }}
                    <ul>
                        {% for child in form.roles %}
                            <li>
                                {{ form_widget(child) }}
                                {{ child.vars.label }}
                            </li>
                        {% endfor %}
                    </ul>
                </fieldset>

                <div class="grid-full-width">
                    <button type="submit">Save changes</button>
                </div>
            </div>
        {{ form_end(form) }}
    </form>
{% else  %}
    <h1>You don't have permission to access this page</h1>
{% endif %}

{% endblock %}

{% block footer %} {% endblock %}