{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href="{{ asset('assets/styles/css/backoffice.css')}}">
{% endblock %}


{% block nav %}{% endblock %}


{% block body %}
<header>
    {{ include('components/_nav.twig') }}
    <img src="{{ asset('assets/imgs/banner/' ~ (app.user.imageCover|default('initial-banner.jpg'))) }}" alt="">
</header>
<main class="container">
    <aside>
        <img src="{{ asset('assets/imgs/profile/' ~ (app.user.imageProfile|default('placeholder-general-img.png'))) }}" alt="">
        <div class="user-info">
            <h3>{{ app.user.firstname|upper }} {{ app.user.lastname|upper }}</h3>
            <span>{{ app.user.city }},</span>
            <span>{{ app.user.country }}</span>
        </div>
        <ul>
            <h4>Insights</h4>
            {% for entity in entities %}
                <li>
                    <a href="{{ path('app_backoffice_entity_list', { entity: entity }) }}"
                    {% if app.request.pathInfo == path('app_backoffice_entity_list', { entity: entity }) %}
                        class="active"
                    {% endif %}
                    >
                        {{ entity }}
                    </a>
                </li>
            {% endfor %}

            {# {# <li><a class="{{ (app.request.get('posts') or app.request.get() is empty) ? 'active' : '' }}" href="{{ path('app_backoffice_index', {'query': {'posts': ''}}) }}"><i class="fa-regular fa-newspaper"></i>Posts</a></li> #}
            {# <li><a class="{{ app.request.get('thematics') ? 'active' : '' }}" href="{{ path('app_backoffice_index', {'query': {'thematics': ''}}) }}"><i class="fa-solid fa-layer-group"></i>Themes</a></li>
            <li><a class="{{ app.request.get('categories') ? 'active' : '' }}" href="{{ path('app_backoffice_index', {'query': {'categories': ''}}) }}"><i class="fa-solid fa-rectangle-list"></i>Categories</a></li> #}
            {# {% if app.user.role == "owner" %}
            {% endif %} #}
        </ul>
        <br>
        <ul>
            <h4>Management</h4>
            {# <li><a class="{{ app.request.get('publications_insight') ? 'active' : '' }}" href="{{ path('app_backoffice_index', {'query': {'publications_insight': ''}}) }}"><i class="fa-solid fa-rectangle-list"></i>Publications insight</a></li> #}
            {# <li><a class="{{ app.request.get('members') ? 'active' : '' }}" href="{{ path('app_backoffice_index', {'query': {'members': ''}}) }}"><i class="fa-solid fa-users-gear"></i>Members</a></li> #}
        </ul>
    </aside>
    <div class="info-detail">
         {# {% if app.request.get('posts') or app.request.query is empty %} #}
         {# {% if app.request.attributes.get('_route_params')['entity'] == 'Posts' or app.request.attributes.get('_route_params')['entity'] is empty %} #}
         {# {% if app.request.attributes.get('_route_params') is defined and app.request.attributes.get('_route_params')|length > 0 %}
            {% if app.request.attributes.get('_route_params')['entity'] == 'Posts' or app.request.attributes.get('_route_params')['entity'] is empty %} #}
            {% if app.request.pathInfo == '/backoffice/' or (app.request.attributes.get('_route_params')['entity'] is defined and app.request.attributes.get('_route_params')['entity'] == 'Posts') %}
            {{ include('backoffice/partials/posts.html.twig') }}
            {# {% endif %} #}
        {#{% elseif app.request.get('thematics') %}
            {{ include('partials/thematics.html.twig') }} #}
             {% elseif app.request.attributes.get('_route_params')['entity'] == 'Categories' %}
            {{ include('backoffice/partials/categories.html.twig') }} 
        {#{% elseif app.request.get('publications_insight') %}
            {{ include('partials/publications_insight.html.twig') }}
        {% elseif app.request.get('update_post') or app.request.get('add_post') %}
            {{ include('partials/forms/add_update_post.html.twig') }}
        {% elseif app.request.get('update_theme') or app.request.get('add_theme') %}
            {{ include('partials/forms/add_update_theme.html.twig') }}
        {% elseif app.request.get('update_category') or app.request.get('add_category') %}
            {{ include('partials/forms/add_update_category.html.twig') }}#}
        {% endif %} 
    </div>
</main>

{% endblock %}