{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href="{{ asset('assets/styles/css/backoffice.css')}}">
{% endblock %}


{% block nav %}{% endblock %}


{% block body %}
<header>
    {{ include('components/_nav.twig') }}
    <img src="{{ asset('assets/imgs/banner/' ~ (app.user.imageCover|default('initial-banner.jpg'))) }}" alt="">
</header>
<main class="container">

    {% include "components/_backoffice_asider.twig" %}

    <div class="info-detail">
         
        {# Veiwign list of each entity #}
        {# {% if app.request.pathInfo == '/backoffice/' or (app.request.attributes.get('_route_params')['entity'] is defined and app.request.attributes.get('_route_params')['entity'] == 'Posts') %} #}
        {% if app.request.get('_route') == 'backoffice_index' %}
            {{ include('backoffice/partials/backoffice.statistic.twig') }}
        {# {% elseif app.request.attributes.get('_route_params')['entity'] == 'ContentType' %} #}
        {# {# {% elseif path('backoffice_entity_list', {entity: 'ContentType'}) %}  #}
        {% elseif app.request.get('_route') == 'backoffice_entity_list' and app.request.attributes.get('_route_params')['entity'] == 'ContentType' %}
            {{ include('backoffice/partials/all_contentType.html.twig') }}
        {% elseif app.request.get('_route') == 'backoffice_entity_list' and app.request.attributes.get('_route_params')['entity'] == 'Categories' %}
            {{ include('backoffice/partials/all_categories.html.twig') }} 
        {% elseif app.request.get('_route') == 'backoffice_entity_list' and app.request.attributes.get('_route_params')['entity'] == 'Posts' %}
            {{ include('backoffice/partials/all_posts.html.twig') }} 
        

        {# Replacing CRUD forms of each entity based on choice on click on entity #}
        {% elseif app.request.get('_route') == 'backoffice_posts_new' %}
            {{ include('posts/new.html.twig') }}
        {% elseif app.request.get('_route') == 'backoffice_posts_edit' %}
            {{ include('posts/edit.html.twig') }}
        {# {% elseif app.request.get('_route') == 'backoffice_posts_delete' %}
            {{ include('posts/edit.html.twig') }} #}


        {# {% elseif path('content_type_new') %} #}
        {% elseif app.request.get('_route') == 'app_content_type_new' %}
            {{ include('content_type/new.html.twig') }}
        {% elseif app.request.get('_route') == 'content_type_edit' %}
            {{ include('content_type/edit.html.twig') }}
        {% elseif app.request.get('_route') == 'content_type_delete' %}
            {{ include('content_type/edit.html.twig', {'id': id}) }}
        {% endif %}
    </div>
</main>

{% endblock %}
{# {% block footer %}{% endblock %} #}